*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Nunito", sans-serif;
  color: #6D5D4B;
  font-weight: 300;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-rows: min-content 85vh repeat(2, min-content) 60vw repeat(4, min-content);
  grid-template-columns: [full-start gap-left-start] minmax(8rem, 1fr) [center-start gap-left-end] repeat(8, [col-start] minmax(min-content, 15rem) [col-end]) [center-end gap-right-start] minmax(8rem, 1fr) [full-end gap-right-end]; }
  .container > * {
    color: orangered;
    font-size: 2rem;
    padding: 2rem; }

.Hotel_Preview {
  grid-column: center-start / center-end;
  background-color: #352; }

.Navbar_Sticky {
  grid-column: center-start / center-end;
  background-color: beige; }

.Search_Again {
  grid-column: center-start / center-end;
  background-color: #785; }

.Hotel_Rooms {
  grid-column: 3 / center-end;
  background-color: #157; }

.SideBar_Bill {
  grid-column: 2 / 3;
  grid-row: 5 / 6;
  background-color: burlywood; }

.Similar_Hotels {
  grid-column: center-start / center-end; }

.About_Hotel {
  grid-column: center-start / center-end; }

.Hotel_Rules {
  grid-column: center-start / center-end; }

.Hotel_Aminities {
  grid-column: center-start / center-end; }

.header {
  grid-column: 1 / -1;
  background-color: aqua; }

.footer {
  grid-column: full-start / full-end;
  background-color: blue; }
