.container {

    direction: rtl ;


    display: grid ;

    grid-template-rows: min-content 85vh repeat(2,min-content) 60vw repeat(4,min-content);
    grid-template-columns:  1fr repeat(8,minmax(min-content,17rem)) 1fr ;
    
    
}

.Hotel_Preview{
    
    background-color: #d6d870 ;
    grid-column: 2 / 10 ;
}

.Navbar_Sticky {
    
    background-color: beige ;
    grid-column: 2 / 10 ;


}

.Search_Again {
    
    background-color: #785 ;
    grid-column: 2 / 10 ;

}

.Hotel_Rooms {
    
    background-color: #157 ;
    grid-column: 2 / 10 ;
    

}

.SideBar_Bill {
    
    background-color: burlywood;
    grid-column: 2 / 10 ;

}

.Similar_Hotels {

    grid-column: 2 / 10 ;
    

}

.About_Hotel {

    grid-column: 2 / 10 ;
    

}

.Hotel_Rules {

    grid-column: 2 / 10 ;
    

}

.Hotel_Aminities {

    grid-column: 2 / 10 ;
    

}

