.container {

    direction: rtl ;


    display: grid ;

    grid-template-rows: min-content 85vh repeat(2,min-content) 60vw repeat(4,min-content);
    grid-template-columns:   repeat(12, [col-start] 1fr);
    grid-gap: 2rem ;

    
    
    
}

.Hotel_Preview{
    
    background-color: #d6d870 ;
    grid-column: col-start 2 / span 10 ;
    
}

.Navbar_Sticky {
    
    background-color: beige ;
    grid-column: col-start 2 / span 10 ;
    


}

.Search_Again {
    
    background-color: #785 ;
    grid-column: col-start 2 / span 10 ;
    

}

.Hotel_Rooms {
    
    background-color: #157 ;
    grid-column: col-start 2 / span 10 ;
    

}

.SideBar_Bill {
    
    background-color: burlywood;
    grid-column: col-start 2 / span 10 ;
}

.Similar_Hotels {
    grid-column: col-start 2 / span 10 ;

    
    

}

.About_Hotel {
    grid-column: col-start 2 / span 10 ;

    
    

}

.Hotel_Rules {
    grid-column: col-start 2 / span 10 ;

    
    

}

.Hotel_Aminities {
    grid-column: col-start 2 / span 10 ;

    
    

}

