// COLOR VARIABLES
$primary-color : #0089c4 ;
// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

@font-face {
    font-family: 'IranSans' ;
    src: url('assets/fonts/woff2/IRANSansWeb_Medium.woff2') format('woff2');
}